/*!*************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./index.css ***!
  \*************************************************************/
body {
    background-color: seagreen;
    color: white;
    margin: 5px;
    padding: 5px;
}
